Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

Im sorry
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/store/useStore.tsx
  shared/src/gameData/characterData.ts
  shared/src/gameData/gameData.ts
Due: eslint --fix

Add reminders for delusional roles, change base reminder color
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

make icons more usable
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/RemindersList.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Grimoire/PlayersInCircle/SpectatorTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
Due: none

Add night action for the day's execution
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/shared/ExecutionInfo.tsx
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

fix bug with multiple players
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/utils/arrayUtils.ts
  shared/src/utils/index.ts
Due: eslint --fix

Drunk and Lunatic reminders
  shared/src/gameData/characterData.ts
Due: eslint --fix

Honestly, I am just sorry (#266)
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/RemindersList.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Grimoire/PlayersInCircle/SpectatorTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/gameData.ts
  shared/src/utils/arrayUtils.ts
  shared/src/utils/index.ts
Due: eslint --fix

Add night action for the day's execution (#265)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/shared/ExecutionInfo.tsx
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

setup reminders
  server/package.json
  server/src/gameMachine/gameReducer.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
Due: eslint --fix, prettier --write

fix draw role for setup statuses
  server/src/gameMachine/gameReducer.ts
Due: eslint --fix

uncertain death
  client/index.html
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMShared/ExportButton.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerRole.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/design-system/components/ui/label.tsx
  client/src/design-system/components/ui/switch.tsx
  client/src/design-system/components/ui/textarea.tsx
  client/src/shared/CharacterTypes.ts
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/test/scripts.spec.ts
  server/src/gameMachine/gameActions.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

fix draw role and demon message
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerRoute/PlayerSetup/PlayerRoleSelect.tsx
Due: none

died today
  shared/src/gameData/characterData.ts
Due: eslint --fix

Tomw/uncertain death (#269)
  client/index.html
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMShared/ExportButton.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerRole.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/PlayerRoute/PlayerSetup/PlayerRoleSelect.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/design-system/components/ui/label.tsx
  client/src/design-system/components/ui/switch.tsx
  client/src/design-system/components/ui/textarea.tsx
  client/src/shared/CharacterTypes.ts
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/test/scripts.spec.ts
  server/src/gameMachine/gameActions.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

fix kick player
  shared/src/utils/objectUtils.ts
Due: eslint --fix

desperation
  client/src/store/GameContextProvider.tsx
  server/src/gameMachine/gameMachine.ts
Due: eslint --fix

fix initital
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
Due: eslint --fix

facepalm
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
Due: eslint --fix

facepalm (#270)
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
Due: eslint --fix

merge script back into game and use to populate night actions
  .vscode/settings.json
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  server/src/appRouter.ts
  server/src/database/gameDB/base.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/script.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/gameData.ts
  shared/src/shapes/Script.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/shapes/index.ts
Due: eslint --fix, prettier --write

fix rolestoPlayers to be more typesafe
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  server/src/appRouter.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/trpcServerInternals/createServer.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

merge script back into game and use to populate night actions (#271)
  .vscode/settings.json
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  server/src/appRouter.ts
  server/src/database/gameDB/base.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/routes/script.ts
  server/src/testingUtils/gameCreator.ts
  server/src/trpcServerInternals/createServer.ts
  shared/src/gameData/gameData.ts
  shared/src/shapes/Script.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/shapes/index.ts
Due: eslint --fix, prettier --write

fix stupid script code
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/Lobby.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/MadnessMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/shared/ScriptList.tsx
  client/src/store/GameContext.ts
  client/src/store/GameContextProvider.tsx
  client/src/store/useStore.tsx
  client/test/example.spec.tsx
  server/src/database/gameDB/base.ts
  server/src/routes/game.ts
Due: eslint --fix

fix stupid script code (#273)
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/Lobby.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/MadnessMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/shared/ScriptList.tsx
  client/src/store/GameContext.ts
  client/src/store/GameContextProvider.tsx
  client/src/store/useStore.tsx
  client/test/example.spec.tsx
  server/src/database/gameDB/base.ts
  server/src/routes/game.ts
Due: eslint --fix

add unit tests for player order
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/shared/PlayerListOrder.tsx
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package.json
  server/src/appRouter.ts
  server/src/database/PersistentStorage/RemoteStorage.ts
  server/src/database/PersistentStorage/S3BaseClient.ts
  server/src/database/PersistentStorage/S3Storage.ts
  server/src/database/PersistentStorage/StorageFile.ts
  server/src/database/PersistentStorage/index.ts
  server/src/database/gameDB/base.ts
  server/src/database/remoteStorage.ts
  server/src/gameMachine/gameSelectors.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/trpcServerInternals/trpc.ts
  server/test/playerOrder.test.tsx
  server/test/testSetup.ts
  server/test/utils.ts
  server/tsconfig.json
  server/vitest.config.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix, prettier --write

fix build
  package.json
  server/package.json
  server/tsconfig.build.json
Due: prettier --write

fix eslint
  e2es/package.json
  e2es/tests/playerTests.spec.ts
  pnpm-lock.yaml
  server/.eslintrc.cjs
Due: eslint --fix, prettier --write

fix CI
  .github/workflows/playwright.yml
Due: none

run server more better
  .github/workflows/playwright.yml
Due: none

ugh moar
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/playerTests.spec.ts
  server/.eslintrc.cjs
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reducerHelpers/playerOrderHelpers.ts
  server/src/routes/game.ts
  server/test/playerOrder.test.tsx
  server/test/utils.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

player seating modal
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/design-system/components/ui/select.tsx
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reducerHelpers/playerOrderHelpers.ts
  server/test/playerOrder.test.tsx
Due: eslint --fix

did it better
  server/src/gameMachine/gameSelectors.ts
  server/test/playerOrder.test.tsx
Due: eslint --fix

test remote storage
  server/src/database/PersistentStorage/RemoteStorage.ts
  server/src/database/PersistentStorage/StorageFile.ts
  server/src/database/gameDB/base.ts
  server/test/persistentStorage.test.tsx
  server/test/testSetup.ts
Due: eslint --fix

add rootdir
  server/.eslintrc.cjs
  server/test/persistentStorage.test.tsx
Due: none

team distribution bar tests
  client/package.json
  client/src/shared/TeamDistributionBar.tsx
  client/test/PlayerCount.spec.tsx
  client/test/testUtils.tsx
  shared/src/gameData/gameData.ts
Due: eslint --fix, prettier --write

fix rebuilds
  server/package.json
  server/tsconfig.json
Due: prettier --write

remove console.logs and change currentlySelected to isCurrentlySelected
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/design-system/components/ui/select.tsx
  client/src/shared/Sheet/SheetBody.tsx
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

more errant logs
  server/test/persistentStorage.test.tsx
Due: none
