Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Ignore meta ids in custom script, treat roles not known to us as 'Unknown'
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
Due: none

Add image links for custom script roles
  client/src/assets/game_data/characterData.ts
Due: eslint --fix

Add image links for custom script roles (#149)
  client/src/assets/game_data/characterData.ts
Due: eslint --fix

WIP: smoke test for full game
  e2es/tests/gmTests.spec.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

Fix custom script import (#148)
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
Due: none

Safety to ensure player cannot select multiple roles
  server/src/database/gameDB/player.ts
Due: eslint --fix

Safety to ensure player cannot select multiple roles (#150)
  server/src/database/gameDB/player.ts
Due: eslint --fix

Tell Travellers joining to see storyteller for role
  client/src/PlayerLanding/index.tsx
Due: none

Tell Travellers joining to see storyteller for role (#151)
  client/src/PlayerLanding/index.tsx
Due: none

Add QR Code dialog to game header
  client/package.json
  client/src/shared/GameHeader.tsx
  pnpm-lock.yaml
Due: prettier --write

Add QR Code dialog to game header (#152)
  client/package.json
  client/src/shared/GameHeader.tsx
  pnpm-lock.yaml
Due: prettier --write

Remove unwired first night button from GMActions
  client/src/GamemasterInGame/GameMasterActions.tsx
Due: none

Remove unwired first night button from GMActions (#153)
  client/src/GamemasterInGame/GameMasterActions.tsx
Due: none

First pass for adding characters to script
  client/package.json
  client/src/GamemasterInGame/CharacterSelectList.tsx
  pnpm-lock.yaml
Due: prettier --write

Little bit of UI polish
  client/src/GamemasterInGame/CharacterSelectList.tsx
Due: none

Add or remove roles from script during gm role select
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/Lobby.tsx
Due: none

Allow multiples of a role during setup
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/DestructiveButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  server/src/database/gameDB/player.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Clean up random role selection for multiples (Legion)
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Add link to blood on the clocktower custom scripts in custom script input dialog
  client/src/GamemasterInGame/ScriptSelect.tsx
Due: none

Upgrade node version for github playwright tests
  .github/workflows/playwright.yml
Due: none

Make night order sort more clear for players
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Duplicate roles (Legion) (#159)
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/DestructiveButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Adding characters to script & multi-role (Legion) (#156)
  client/package.json
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/DestructiveButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/store/actions/playerActions.ts
  pnpm-lock.yaml
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, prettier --write

Add link to blood on the clocktower custom scripts (#160)
  client/src/GamemasterInGame/ScriptSelect.tsx
Due: none

Reverting most all changes
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Make night order sort more clear for players (#162)
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

WIP tabs for storyteller game running
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

WIP night order checklist management
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerMessagePage/index.tsx
Due: none

Better night order action UX
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Clean up incomplete player message tab code
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerMessagePage/index.tsx
Due: none

WIP message tab for gm
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/PlayerMessagePage/index.tsx
Due: none

Add player message tab to GM interface
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevivedMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/PlayerMessagePage/index.tsx
Due: none

Lock icon for lock interface switch on player message
  client/src/GamemasterInGame/NightOrder.tsx
Due: none

Tabs show lock icon when interface locked
  client/src/GamemasterInGame/NightOrder.tsx
Due: none

Add script to storyteller menu, polish player message
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/ScriptList.tsx
Due: none

Only show return to first day button after game has started
  client/src/GamemasterInGame/GameMasterActions.tsx
Due: none

Add player sort to grimoir and player screens
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListFilters.tsx
  client/src/shared/PlayerListOrder.tsx
Due: none

No more need for player order button in storyteller menu
  client/src/GamemasterInGame/GameMasterActions.tsx
Due: none

Resize storyteller player list width to fit screen
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
