Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

get unit tests running
  client/package.json
  client/test/example.spec.tsx
  client/test/testSetup.tsx
  client/test/testUtils.tsx
  client/tsconfig.json
  client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

run tests in CI
  .github/workflows/playwright.yml
Due: none

playwright test for players joining
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

sequential instead of parallel
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

switch playwright runner
  .github/workflows/playwright.yml
  e2es/package.json
  pnpm-lock.yaml
Due: prettier --write

create game with 15 players test
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  e2es/tests/playerTests.spec.ts
  package.json
Due: eslint --fix, prettier --write

RAGE
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

test sequentially
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

Tomw/add-vitest-try2 (#173)
  .github/workflows/playwright.yml
  client/package.json
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/test/example.spec.tsx
  client/test/testSetup.tsx
  client/test/testUtils.tsx
  client/tsconfig.json
  client/vite.config.ts
  e2es/.gitignore
  e2es/package.json
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

dont just wait 15s for no reason
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

dont just wait 15s for no reason (#189)
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

save
  pnpm-lock.yaml
  server/package.json
  server/src/database/gameDB/base.ts
  server/src/testGames.ts
Due: eslint --fix, prettier --write

fix eslint t psuh -f
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package.json
  server/src/appRouter.ts
  server/src/database/delayedStorage.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/database/remoteStorage.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/index.ts
  server/src/messenger.ts
  server/src/routes/baseApiShapes.ts
  server/src/routes/game.ts
  server/src/routes/script.ts
  server/src/testGames.ts
  server/src/trpcServerInternals/createServer.ts
  server/src/trpcServerInternals/trpc.ts
  server/src/types/messageShapes.ts
  server/src/utils/objectUtils.ts
  shared/package.json
Due: eslint --fix, prettier --write

game creator
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/utils/mapObject.ts
  pnpm-lock.yaml
  server/package.json
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/scripts.ts
  shared/src/index.ts
  shared/src/utils/exhaustiveCheck.ts
  shared/src/utils/index.ts
  shared/src/utils/objectUtils.ts
  shared/src/utils/shuffleList.ts
Due: eslint --fix, prettier --write

landing header
  .vscode/settings.json
  client/src/GamemasterInGame/ExportButton.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/index.tsx
  server/package.json
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/seating.ts
  server/src/routes/script.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/gameData.ts
  shared/tsup.config.ts
Due: eslint --fix, prettier --write

really not sure
  client/src/GamemasterInGame/ExportButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/RoleIcon.tsx
  client/vite.config.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

new game button
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB/base.ts
  server/src/database/scriptDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/index.ts
Due: eslint --fix

game creator (#202)
  .vscode/settings.json
  client/src/GamemasterInGame/ExportButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/RoleIcon.tsx
  client/src/store/useStore.tsx
  client/src/utils/mapObject.ts
  client/vite.config.ts
  pnpm-lock.yaml
  server/package.json
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/database/scriptDB.ts
  server/src/routes/game.ts
  server/src/routes/script.ts
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/gameData/scripts.ts
  shared/src/index.ts
  shared/src/utils/exhaustiveCheck.ts
  shared/src/utils/index.ts
  shared/src/utils/objectUtils.ts
  shared/src/utils/shuffleList.ts
  shared/tsup.config.ts
Due: eslint --fix, prettier --write

Simple grimoire circle view
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/MainRouter.tsx
  client/src/shared/CircularLayout.tsx
Due: none

WIP CircularLayout component for desktop grimoire view
  client/src/shared/CircularLayout.tsx
Due: none

fix tests for new flow
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  e2es/tests/gmTests.spec.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

Rudimentary grimoire circle
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/roleToken.css
Due: none

fix more tests
  client/src/NewGamePage/index.tsx
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

Set up logic for changing seat order
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/PlayerListOrder.tsx
Due: none

blech
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/shared/RoleToken.tsx
Due: none

day switcher
  client/src/GamemasterDesktop/GrimoireView.tsx
Due: none

resize observer
  client/package.json
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/shared/CircularLayout.tsx
  pnpm-lock.yaml
Due: prettier --write

fix tests for new flow (#203)
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/NewGamePage/index.tsx
  e2es/tests/gmTests.spec.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

Alt layout for grimoire desktop view
  client/src/GamemasterDesktop/GrimoireView.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/roleToken.css
Due: none

Rudimentary desktop view completed
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/roleToken.css
Due: none

Fix PlayerRole role image
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

First pass of desktop view (#204)
  client/package.json
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/MainRouter.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/RoleToken.tsx
  pnpm-lock.yaml
Due: prettier --write

fix test game
  server/src/testingUtils/gameCreator.ts
Due: eslint --fix

spicy tb fix
  server/src/testGames.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

character updates
  client/src/GamemasterInGame/PlayerListComponents/NightAction/KillAction.tsx
  server/src/testGames.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

Hide side panel when desktop view is in day
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

Tomw/add custom scripts (#205)
  client/src/GamemasterInGame/PlayerListComponents/NightAction/KillAction.tsx
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix
