Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fixed 'votes to execute' logic on ties (now adds +1)
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

same logic change as previous commit. next step to separate both to their own component.
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

new component for displaying who is being executed and how many votes are needed.
  client/src/shared/ExecutionInfo.tsx
Due: none

modified files to use ExecutionInfo component instead
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

modified SetCountModal call to include default value
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerLists/GMPlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

updated per comments
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerLists/GMPlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/ExecutionInfo.tsx
Due: none

per comment on pr
  client/src/shared/ExecutionInfo.tsx
Due: none

updated QRCodeDialog url to use urlFromOrigin()
  client/src/shared/GameHeader.tsx
Due: none

basic redux (#235)
  e2es/tests/playerTests.spec.ts
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package.json
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/database/watchableResource.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/gameSelectors.ts
  server/src/gameMachine/index.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  server/src/utils/objectUtils.ts
  shared/src/utils/characterUtils.ts
  shared/src/utils/index.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix, prettier --write

migrate utilities
  e2es/package.json
  e2es/tests/api/client.ts
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/helpers/utils.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix all the tests
  client/src/shared/ScriptList.tsx
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/helpers/utils.ts
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

rebase and fix spectator
  e2es/package.json
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix to test script
  e2es/package.json
Due: prettier --write

make tests go vroom
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/helpers/utils.ts
  e2es/tests/playerTests.spec.ts
  e2es/tsconfig.tsbuildinfo
  package.json
Due: eslint --fix, prettier --write

working
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/shared/CircularLayout/Center.tsx
  client/src/shared/CircularLayout/CircleContainer.tsx
  client/src/shared/CircularLayout/CircleContext.ts
  client/src/shared/CircularLayout/CircularLayout_old.tsx
  client/src/shared/CircularLayout/Pepperoni.tsx
  client/src/shared/CircularLayout/Slice.tsx
  client/src/shared/CircularLayout/index.tsx
  client/src/shared/RoleToken.tsx
Due: eslint --fix

Zaphod/fix join new game (#237)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerLists/GMPlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/ExecutionInfo.tsx
  client/src/shared/GameHeader.tsx
Due: none

Team Distribution Bar unit test
  client/test/playerTests.spec.tsx
  client/test/quickHelpers.ts
Due: eslint --fix

redo player landing
  client/src/PlayerLanding/PlayerChooseNeighbor/SeatingProblem.tsx
  client/src/PlayerLanding/PlayerChooseNeighbor/index.tsx
  client/src/PlayerLanding/index.tsx
Due: none

get travelers working
  client/src/PlayerLanding/index.tsx
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  server/src/gameMachine/gameActions.ts
  server/src/routes/game.ts
  shared/src/gameData/gameData.ts
Due: eslint --fix

flow statuses inwards
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/PlayersInCircle/CircularLayout.tsx
  client/src/shared/PlayersInCircle/GMTile.tsx
  client/src/shared/PlayersInCircle/ScalingText.tsx
  client/src/shared/PlayersInCircle/SpectatorTile.tsx
  client/src/shared/PlayersInCircle/index.tsx
  client/src/shared/RoleToken.tsx
Due: none

flow statuses inwards (#238)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/PlayersInCircle/CircularLayout.tsx
  client/src/shared/PlayersInCircle/GMTile.tsx
  client/src/shared/PlayersInCircle/ScalingText.tsx
  client/src/shared/PlayersInCircle/SpectatorTile.tsx
  client/src/shared/PlayersInCircle/index.tsx
  client/src/shared/RoleToken.tsx
Due: none

changed skull logic to such that it is always present but uses opacity to hide when player is alive.
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
Due: none

added logic to set opacity to 0 while a player is alive for Deadvote button. not the best implentation.
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Created new component module for Players to choose various actions in assisting DM in game upkeep (ie votes to execute, used deadvote, kill/revive player)
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
Due: none

merged most of SetCount component into PlayerControls. Still need to add the confirm buttons
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
Due: none

Modified layout of menu slightly
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
Due: none

modified title heading to include X button in top corner.
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
Due: none

modified to allow Dialog.Title to be centered
  client/src/shared/DialogHeader.tsx
Due: none

Changed 'Vote to Execute' button to the new Player Control popup menu
  client/src/GamemasterInGame/PlayerListComponents/PlayerControls.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

working state
  client/.eslintrc.cjs
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerLists/SetupPlayerList.tsx
  client/src/main.tsx
  client/src/shared/Sheet/Sheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetContext.ts
  client/src/shared/Sheet/SheetProvider.tsx
  client/src/shared/Sheet/index.tsx
Due: eslint --fix

revert bad slides, add slides for characters
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/PlayerLists/SetupPlayerList.tsx
  client/src/shared/Sheet/Sheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/index.tsx
Due: none

drag to dismiss
  client/src/main.css
  client/src/shared/Sheet/Sheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetProvider.tsx
Due: none

Sheet display for player menu (#241)
  client/.eslintrc.cjs
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/main.tsx
  client/src/shared/Sheet/Sheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetContext.ts
  client/src/shared/Sheet/SheetProvider.tsx
  client/src/shared/Sheet/index.tsx
Due: eslint --fix

show messages
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerMessagesTab/PlayerMessagesTabs.tsx
  client/src/GamemasterInGame/PlayerMessagesTab/index.tsx
  server/src/gameMachine/gameMachine.ts
  server/src/routes/game.ts
  shared/src/shapes/PlayerMessages.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
