Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc"],
  "*.{js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

Add script and night order to player ingame page
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/role-info.json
Due: eslint --fix, tsc, prettier --write

WIP: Adding script display to player ingame page
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/gameData.ts
Due: eslint --fix, tsc

Rebased to main
  client/src/PlayerLanding/PlayerInGame.tsx
Due: eslint --fix, tsc

Remove array clone before sort - no longer needed
  client/src/PlayerLanding/PlayerInGame.tsx
Due: eslint --fix, tsc

Strip player ingame of animations (for now)
  client/src/PlayerLanding/PlayerInGame.tsx
Due: eslint --fix, tsc

Player script and night order display lists (#57)
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/role-info.json
Due: eslint --fix, tsc, prettier --write

combine roles json
  .lintstagedrc
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerAbility.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/TeamDistributionBar.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/role-info.json
  client/src/assets/game_data/roles.json
  client/src/assets/game_data/rolesCombined.json
  client/src/shared/RoleIcon.tsx
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, tsc, prettier --write

fix precommit
  .husky/pre-commit
  .lintstagedrc
Due: none

fix some derps
  client/src/PlayerLanding/PlayerInGame.tsx
Due: eslint --fix, tsc

fix checks
  .husky/pre-commit
  client/package.json
  package.json
  server/package.json
Due: prettier --write

ooops
  client/src/GamemasterInGame/PlayerList.tsx
Due: eslint --fix, tsc

fuck
  client/package.json
  server/package.json
Due: prettier --write

move nights
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerAbility.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/modifyJson.cjs
  client/src/assets/game_data/rolesCombined.json
  client/src/shared/MeaningfulIcon.tsx
  package.json
  server/src/types/Role.ts
Due: eslint --fix, tsc, prettier --write

player message
  .vscode/settings.json
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/NoteLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
  client/src/MainRouter.tsx
  client/src/PlayerNotePage/index.tsx
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/rolesCombined.json
  client/src/shared/RoleIcon.tsx
  client/src/utils/exhaustiveCheck.ts
  client/src/utils/shuffleList.ts
  server/src/testGames.ts
  server/src/types/NotesScreen.ts
  server/src/types/Role.ts
  server/src/types/types.ts
Due: eslint --fix, tsc, prettier --write

rename notes
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/NoteLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/MainRouter.tsx
  client/src/PlayerMessagePage/index.tsx
  server/src/types/PlayerMessageScreen.ts
  server/src/types/types.ts
Due: eslint --fix, tsc

Split status effects from player notes
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, tsc

rename to PlayerStatus
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, tsc

gm notes into bubble
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerAbility.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/rolesCombined.json
  server/src/testGames.ts
Due: eslint --fix, tsc, prettier --write

Draft up player notes
  client/src/GamemasterInGame/PlayerList.tsx
Due: eslint --fix, tsc

Making player note management prettier
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  server/src/database/gameDB.ts
Due: eslint --fix, tsc

Clean up night UI, single note on players
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerName.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, tsc

README
  README.md
  client/package.json
  package.json
  server/package.json
Due: prettier --write

update roles to have players
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleSelect.tsx
  client/src/shared/RoleIcon.tsx
Due: eslint --fix, tsc

add-note
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
Due: eslint --fix, tsc

fix-up-roles
  client/src/assets/game_data/rolesCombined.json
Due: prettier --write

New line on player note modal open. Clear doesn't close modal
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMenuItem.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
Due: eslint --fix, tsc

Remove bad rebase conflict item
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
Due: eslint --fix, tsc

update demon view
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
  server/src/types/PlayerMessageScreen.ts
Due: eslint --fix, tsc

update demon view (#69)
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/index.tsx
  server/src/types/PlayerMessageScreen.ts
Due: eslint --fix, tsc

Add notes to gm night
  client/src/GamemasterInGame/PlayerList.tsx
Due: eslint --fix, tsc

Bring night and day list note closer together in appearance
  client/src/GamemasterInGame/PlayerList.tsx
Due: eslint --fix, tsc

refactor data
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/rolesCombined.json
  server/src/types/Role.ts
Due: eslint --fix, tsc, prettier --write

refactor data (#71)
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/rolesCombined.json
  server/src/types/Role.ts
Due: eslint --fix, tsc, prettier --write

refactor role reselcts
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/Restrictions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/shared/CharacterTypes.ts
  server/src/types/PlayerMessageScreen.ts
  server/src/types/Role.ts
Due: eslint --fix, tsc

Pull filter players into own component, share with others
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListFilters.tsx
Due: eslint --fix, tsc

Fix filter button wrap
  client/src/shared/PlayerListFilters.tsx
Due: eslint --fix, tsc

Fix filter button wrap (#74)
  client/src/shared/PlayerListFilters.tsx
Due: eslint --fix, tsc
