Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

undo disabling pesistence
  server/src/database/gameDB/base.ts
Due: eslint --fix

get working locally with trpc subscriptions (#136)
  client/package.json
  client/src/shared/trpcClient.ts
  client/src/store/GameContextProvider.tsx
  client/vite.config.ts
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package-lock.json
  server/package.json
  server/src/appRouter.ts
  server/src/index.ts
  server/src/routes/game.ts
  server/src/routes/index.ts
  server/src/routes/script.ts
  server/src/routes/socket.ts
  server/src/trpcServerInternals/createServer.ts
  server/src/trpcServerInternals/trpc.ts
  server/tsconfig.json
Due: eslint --fix, prettier --write

move user-select down to playerrole page
  client/src/PlayerLanding/PlayerRole.css
  client/src/main.css
Due: none

fix random scroll issues
  client/src/main.css
Due: none

Tomw/scroll shit (#138)
  client/src/PlayerLanding/PlayerRole.css
  client/src/main.css
Due: none

testme
  client/src/store/secretKey.ts
Due: eslint --fix

testme (#139)
  client/src/store/secretKey.ts
Due: eslint --fix

add travellers to script
  client/src/PlayerLanding/PlayerInGame.tsx
  server/src/testGames.ts
Due: eslint --fix

First Playwright tests
  client/.gitignore
  client/package.json
  client/playwright.config.ts
  client/tests/gmTests.spec.ts
  client/tests/playerTests.spec.ts
  client/tests/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add git action playwright tests
  client/.github/workflows/playwright.yml
Due: none

add travellers to script (#140)
  client/src/PlayerLanding/PlayerInGame.tsx
  server/src/testGames.ts
Due: eslint --fix

let's not JUST CRASH ANYMORE
  server/src/appRouter.ts
  server/src/trpcServerInternals/createServer.ts
Due: eslint --fix

Player role grab bag
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/GameContext.ts
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

let's not JUST CRASH ANYMORE (#143)
  server/src/appRouter.ts
  server/src/trpcServerInternals/createServer.ts
Due: eslint --fix

move to it's own package
  .github/workflows/playwright.yml
  client/package.json
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/playwright-report/index.html
  e2es/playwright.config.ts
  e2es/tests/gmTests.spec.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fixup git ignore
  .gitignore
  client/.gitignore
  e2es/playwright-report/index.html
  package.json
Due: prettier --write

FUCK
  .github/workflows/playwright.yml
  client/package.json
Due: prettier --write

FUCK AGAIN
  .github/workflows/playwright.yml
  pnpm-lock.yaml
Due: none

fuck at push lex in particular
  .github/workflows/playwright.yml
Due: none

First Playwright tests (#142)
  .github/workflows/playwright.yml
  .gitignore
  client/package.json
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/playwright.config.ts
  e2es/tests/gmTests.spec.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

Take role is more atomic now
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
Due: eslint --fix

A bit of cleanup
  client/src/PlayerLanding/index.tsx
Due: none

OnClick no longer async
  client/src/PlayerLanding/PlayerRoleSelect.tsx
Due: none

Player role "grab bag" (#144)
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/GameContext.ts
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Players must acknowledge roles to begin game
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Fix player reveal role title
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Move to PlayerInGame when role has been acknowledged
  client/src/PlayerLanding/index.tsx
Due: none

Player doesn't have to hold Reveal Role button
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Rebase on demo
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/store/actions/playerActions.ts
  server/src/testGames.ts
Due: eslint --fix

Relabel tap to reveal role button
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Players ack roles (#141)
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

run tests
  client/package.json
  client/test/example.spec.tsx
  client/test/testSetup.tsx
  client/test/testUtils.tsx
  client/tsconfig.json
  client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Make role selection view just a little less 'sanitary' for fun
  client/src/PlayerLanding/PlayerRoleSelect.tsx
Due: none

Player can toggle night orders between first and other night
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Show role ability on reveal page
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
Due: none

Add note that mentions player doesn't need to memorize ability
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Night order toggle is always visible to players when set to First Night but not Other Night
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Make role selection look a little less 'sanitary' for fun (#145)
  client/src/PlayerLanding/PlayerRoleSelect.tsx
Due: none

Player night order sort toggle (#146)
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Reveal ability when revealing role (#147)
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
Due: none
