Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fuck all the things
  client/src/shared/useQueryParam.ts
Due: eslint --fix

spectate flow
  e2es/tests/utils.ts
Due: eslint --fix

fix test
  e2es/tests/utils.ts
Due: eslint --fix

fix spectate
  client/src/NewGamePage/index.tsx
  e2es/tests/spectateTests.spec.ts
Due: eslint --fix

fix traveler order
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/shared/RoleToken.tsx
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tests/utils.ts
  server/src/database/gameDB/player.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix

fix tests
  client/src/NewGamePage/index.tsx
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tests/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

rebase
  e2es/tests/playerTests.spec.ts
Due: eslint --fix

Tomw/traveler order (#221)
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/shared/RoleToken.tsx
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tests/utils.ts
  pnpm-lock.yaml
  server/src/database/gameDB/player.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix, prettier --write

fix tests
  e2es/tests/utils.ts
Due: eslint --fix

fix tests (#226)
  e2es/tests/utils.ts
Due: eslint --fix

Fix dead votes resetting when players killed, travelers no longer affect team distributions
  client/src/shared/TeamDistributionBar.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

Add votes to execute modal to storyteller and player phone displays
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/SetCount.tsx
Due: none

Fix dead votes resetting when players killed, travelers and team distributions (#227)
  client/src/shared/TeamDistributionBar.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

Votes to execute modal added to storyteller and player displays (#228)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/SetCount.tsx
Due: none

Fix team distribution count measures on storyteller selection list
  client/src/shared/TeamDistributionBar.tsx
Due: none

Better organization of player lists
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNotes.tsx
  client/src/GamemasterInGame/PlayerLists/GMPlayerList.tsx
  client/src/GamemasterInGame/PlayerLists/NightPlayerList.tsx
  client/src/GamemasterInGame/PlayerLists/SetupPlayerList.tsx
  client/src/shared/ScriptList.tsx
Due: none

Fix team distribution count measures on storyteller selection list (#229)
  client/src/shared/TeamDistributionBar.tsx
Due: none

Better organization of player lists (#230)
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNotes.tsx
  client/src/GamemasterInGame/PlayerLists/GMPlayerList.tsx
  client/src/GamemasterInGame/PlayerLists/NightPlayerList.tsx
  client/src/GamemasterInGame/PlayerLists/SetupPlayerList.tsx
  client/src/shared/ScriptList.tsx
Due: none

Allow traveller joining after game start to insert self into circle
  client/src/PlayerLanding/index.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

Allow traveller joining after game start to insert self into circle (#231)
  client/src/PlayerLanding/index.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

WIP allow storyteller to reorder players
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerLists/SetupPlayerList.tsx
  client/src/shared/MovePlayerModal.tsx
Due: none

Added TODO statement of what is to be done.
  client/src/shared/GameHeader.tsx
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

modified ReactRouterLink path to call urlFromOrigin()
  client/src/shared/GameHeader.tsx
Due: none

removed comments
  client/src/shared/GameHeader.tsx
Due: none

More gracefully remove and add players moving in circle
  server/src/database/gameDB/player.ts
Due: eslint --fix

reverted some background file changes
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

Zaphod/fix join new game (#233)
  client/src/shared/GameHeader.tsx
Due: none

Potential fix for player insert if no right neighbor
  server/src/database/gameDB/player.ts
Due: eslint --fix

basic redux
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package.json
  server/src/gameMachine/index.ts
  shared/src/utils/characterUtils.ts
  shared/src/utils/index.ts
Due: eslint --fix, prettier --write

use redux toolkit
  server/src/gameMachine/index.ts
Due: eslint --fix

add all reducers
  server/src/gameMachine/index.ts
Due: eslint --fix

Only try to cleanly insert players when healthy circle already exists
  server/src/database/gameDB/player.ts
Due: eslint --fix

migrate all the logic to redux reducer
  server/src/database/gameDB/player.ts
  server/src/gameMachine/index.ts
  server/src/utils/objectUtils.ts
Due: eslint --fix

Votes on players are now displayed on player screen
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

finish rewrite
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/database/watchableResource.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/gameSelectors.ts
  server/src/gameMachine/index.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix

fix CI
  e2es/tests/playerTests.spec.ts
  server/src/testingUtils/gameCreator.ts
Due: eslint --fix

in player tab, replaced redunent info with who is being executed and # of votes needed to execute.
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/GameHeader.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
