Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

add sheet
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageDisplay/PlayerMessageDisplay.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageDisplay/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/MainRouter.tsx
  client/src/main.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/Sheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetContext.ts
  client/src/shared/Sheet/SheetProvider.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/shared/Sheet/SheetTypes/PlayerSheet.tsx
  client/src/shared/Sheet/index.tsx
  client/src/store/url.ts
Due: eslint --fix

fix sheet (missed commits on last PR
  .vscode/settings.json
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/PlayerMessagesTab/PlayerMessagesTabs.tsx
  client/src/MainRouter.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetContext.ts
  client/src/shared/Sheet/SheetProvider.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/shared/Sheet/SheetTypes/PlayerSheet.tsx
  client/src/shared/Sheet/index.tsx
  client/src/store/url.ts
Due: eslint --fix, prettier --write

remove locked ui
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerMessagesTab/PlayerMessagesTabs.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
Due: none

basic locking UI
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
Due: none

delete messages
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/main.css
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/BlankSheet.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/actions/gmActions.ts
  server/src/routes/game.ts
Due: eslint --fix

night queue
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MessageCreators/DemonMessage.tsx
Due: none

lint e2es
  .vscode/settings.json
  e2es/.eslintrc.cjs
  e2es/tests/api/client.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tsconfig.json
Due: eslint --fix, prettier --write

lint server
  server/.eslintrc.cjs
  server/src/database/delayedStorage.ts
  server/src/database/gameDB/base.ts
  server/src/database/scriptDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
Due: eslint --fix

add backend
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

rename nightorder
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GamemasterLanding.tsx
  client/src/GMRoute/index.tsx
Due: none

track day/night
  client/src/GMRoute/GMInGame/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/ActionsTab.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/ProgressTimeButton.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GamemasterLanding.tsx
  client/src/GMRoute/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/store/actions/gmActions.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
Due: eslint --fix

fix sheet layout bug where it covers content
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testingUtils/gameCreator.ts
Due: eslint --fix

Track night and day in the ap (#245)
  client/src/GMRoute/GMInGame/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/ActionsTab.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/ProgressTimeButton.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GamemasterLanding.tsx
  client/src/GMRoute/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/store/actions/gmActions.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testingUtils/gameCreator.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

game not found screen and auto 15 for test game
  client/src/NewGamePage/NewGameButton.tsx
  client/src/store/GameContextProvider.tsx
  client/src/store/url.ts
Due: eslint --fix

base changes
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

ability spent
  shared/src/gameData/characterData.ts
Due: eslint --fix

top half
  shared/src/gameData/characterData.ts
Due: eslint --fix

Adding characterData reminders
  shared/src/gameData/characterData.ts
Due: eslint --fix

Adding characterData reminders (#252)
  shared/src/gameData/characterData.ts
Due: eslint --fix

base changes (#251)
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

WIP: Wired up to backend
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/shared/AddPlayerReminder.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/PlayerReminder.tsx
  client/src/store/actions/gmPlayerActions.ts
  server/src/routes/game.ts
Due: eslint --fix

Rename statuses in GMTile
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

WIP: replacing statuses with reminders
  client/src/GMRoute/GMInGame/NotesIcons.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/StatusNightAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightReminder.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNotes.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/PlayerReminder.tsx
  client/src/store/actions/gmPlayerActions.ts
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/PlayerReminder.ts
  shared/src/shapes/Role.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/shapes/index.ts
Due: eslint --fix

Move reproducable data out of trcp for Reminders
  client/src/shared/AddPlayerReminder.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/store/actions/gmPlayerActions.ts
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  shared/src/shapes/PlayerReminder.ts
Due: eslint --fix

Click reminders to clear them
  client/src/shared/AddPlayerReminder.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Remove StatusNightAction
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/StatusNightAction.tsx
  client/src/store/actions/gmPlayerActions.ts
Due: eslint --fix

Rebased with characterData reminder changes
  client/src/store/useStore.tsx
  shared/src/gameData/characterData.ts
  shared/src/shapes/PlayerReminder.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

Replace statuses with reminders (#248)
  client/src/GMRoute/GMInGame/NotesIcons.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/StatusNightAction.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightReminder.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNotes.tsx
  client/src/shared/AddPlayerReminder.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/store/actions/gmPlayerActions.ts
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/PlayerReminder.ts
  shared/src/shapes/Role.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/shapes/index.ts
Due: eslint --fix

demon and minion messages
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/MinionsMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/index.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/SpecialActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  server/src/gameMachine/gameReducer.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

fix broken characters
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

complete actions
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightReminder.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/MadnessMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealTeamMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevivedMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/MinionsMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/SpecialActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/actions/gmActions.ts
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/routes/game.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/utils/characterUtils.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix

disable scary eslint rule
  client/.eslintrc.cjs
  e2es/.eslintrc.cjs
  server/.eslintrc.cjs
  shared/.eslintrc.cjs
Due: none

fix first night actions
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
Due: none

eslint rules to warnings in editor
  .vscode/settings.json
Due: prettier --write
