Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add simple title to homepage, change sunglasses reflection
  client/src/NewGamePage/index.tsx
  client/src/assets/hidden_identity_cover.png
  client/src/assets/title_banner.png
Due: none

Add simple title to homepage, change sunglasses reflection (#165)
  client/src/NewGamePage/index.tsx
  client/src/assets/hidden_identity_cover.png
  client/src/assets/title_banner.png
Due: none

Demo to main (#166)
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevivedMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/assets/hidden_identity_cover.png
  client/src/assets/title_banner.png
  client/src/shared/PlayerListFilters.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/ScriptList.tsx
Due: none

Prepopulate name when joining game, fix role name wrap on reveal, correct team distribution in player view when Traveler joins
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/PlayerWaiting/index.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/actions/playerActions.ts
  client/src/store/secretKey.ts
Due: eslint --fix

Added usePlayer
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/store/usePlayer.ts
Due: eslint --fix

Update share link flow
  client/src/shared/GameHeader.tsx
Due: none

Make game header link flex asChild
  client/src/shared/GameHeader.tsx
Due: none

Clean up share game flow (#171)
  client/src/shared/GameHeader.tsx
Due: none

PR comments: remove useEffect in player landing, take role grouping out of memo in PlayerInGame
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/index.tsx
Due: none

Updating player gen prepopulation logic
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/usePlayer.ts
Due: eslint --fix

Correct when player kicked message shows
  client/src/PlayerLanding/index.tsx
  client/src/store/usePlayer.ts
Due: eslint --fix

Change useCommonName => useLastUsedName
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/store/usePlayer.ts
Due: eslint --fix

Player experience polish (#170)
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/PlayerWaiting/index.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/actions/playerActions.ts
  client/src/store/usePlayer.ts
Due: eslint --fix

Add player acks to test games and fix grimoire tab issue on storyteller page
  client/src/GamemasterInGame/NightOrder.tsx
  server/src/testGames.ts
Due: eslint --fix

Add player acks to test games and fix grimoire tab issue on storyteller page (#174)
  client/src/GamemasterInGame/NightOrder.tsx
  server/src/testGames.ts
Due: eslint --fix

add restrictions
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevivedMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/MainRouter.tsx
  client/src/assets/game_data/characterData.ts
  server/src/types/PlayerMessageScreen.ts
  server/src/types/Role.ts
Due: eslint --fix

add restrictions (#175)
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevivedMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/MainRouter.tsx
  client/src/assets/game_data/characterData.ts
  server/src/types/PlayerMessageScreen.ts
  server/src/types/Role.ts
Due: eslint --fix

Save demon bluffs to grimoire
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
Due: none

Small legibility change
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Save demon bluffs to grimoire (#176)
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
Due: none

Add bad moon rising test game
  server/src/testGames.ts
Due: eslint --fix

Add bad moon rising test game (#177)
  server/src/testGames.ts
Due: eslint --fix

add statuses
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/assets/game_data/characterData.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

working with statuses
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/StatusNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/assets/game_data/characterData.ts
  package.json
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, prettier --write

fixes
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/scripts.json
  server/src/testGames.ts
Due: eslint --fix, prettier --write

Tomw/bmr characters (#182)
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/KillAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/StatusNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/scripts.json
  package.json
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, prettier --write

lunatic
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/scripts.json
Due: eslint --fix, prettier --write

lunatic
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/characterData.ts
  client/src/shared/ScriptList.tsx
Due: eslint --fix

Tomw/fix-things (#184)
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/ScriptList.tsx
Due: none

things
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/gameData.ts
  client/src/shared/RoleIcon.tsx
  client/src/shared/ScriptList.tsx
Due: eslint --fix

more
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/gameData.ts
  client/src/shared/RoleIcon.tsx
  client/src/shared/ScriptList.tsx
Due: eslint --fix

more (#186)
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/gameData.ts
  client/src/shared/RoleIcon.tsx
  client/src/shared/ScriptList.tsx
Due: eslint --fix

delusional characters
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/scripts.json
  client/src/shared/RoleIcon.tsx
  client/src/shared/ScriptList.tsx
  server/src/types/Role.ts
Due: eslint --fix, prettier --write

delusional false
  client/src/assets/game_data/characterData.ts
Due: eslint --fix

delusional characters (#188)
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/Restrictions.ts
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/scripts.json
  client/src/shared/RoleIcon.tsx
  client/src/shared/ScriptList.tsx
  server/src/types/Role.ts
Due: eslint --fix, prettier --write

Add Drunk to trouble brewing, fix seat order sort for storyteller, add padding to qr code
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/assets/game_data/scripts.json
  client/src/shared/GameHeader.tsx
Due: prettier --write

Little bit of padding for player role select
  client/src/PlayerLanding/PlayerRoleSelect.tsx
Due: none

Pad QR Code, lift seat order state for GM (#187)
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/assets/game_data/scripts.json
  client/src/shared/GameHeader.tsx
Due: prettier --write

e2es t push -f
  e2es/.gitignore
  e2es/package.json
  e2es/playwright.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
