Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Trim player name on join
  client/src/PlayerLanding/AddPlayer.tsx
Due: none

Trim player name on join (#93)
  client/src/PlayerLanding/AddPlayer.tsx
Due: none

Add new game button to GM night page
  client/src/GamemasterInGame/NightOrder.tsx
Due: none

Add new game button to GM ingame page (#94)
  client/src/GamemasterInGame/NightOrder.tsx
Due: none

Players can keep their own notes
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Fix extra child on kick player button
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Fix extra child on kick player button (#96)
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Keep player notes in separate notes tab for player
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Save player notes to local storage
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Add gameid suffix to local storage player notes
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Create player list sort hook and component
  client/src/shared/PlayerListSort.tsx
Due: none

Small changes to player sorts hook
  client/src/shared/PlayerListSort.tsx
Due: none

Add sorts to gm night order list
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/shared/PlayerListSort.tsx
Due: none

bad player order UX
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  server/src/testGames.ts
Due: eslint --fix

export button
  client/src/GamemasterInGame/ExportButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
Due: none

player order at night
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

nevermind
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

recovery
  server/src/database/watchableResource.ts
Due: eslint --fix

bad player order UX (#100)
  client/src/GamemasterInGame/ExportButton.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  server/src/database/watchableResource.ts
  server/src/testGames.ts
Due: eslint --fix

Hopefully fixing 'not in game?' and legacy Safari input bugs
  client/src/PlayerLanding/AddPlayer.tsx
Due: none

Show character name instead of Id on PlayerRole page
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Replace currentTarget with target on player name input value change
  client/src/PlayerLanding/AddPlayer.tsx
Due: none

Show expected team distribution on player scripts display
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/TeamDistributionBar.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/gameData.ts
Due: eslint --fix

Shrink minimum width for team distribution count
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Remove TeamDistributionBar.css
  client/src/GamemasterInGame/TeamDistributionBar.css
  client/src/GamemasterInGame/TeamDistributionBar.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Remove traveler count from player script list
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Add ability to hide GM notes when showing grimoire (spy)
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Add votes to execute count to player and GM day screens
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/store/useStore.tsx
Due: none

Set player role is seen on role reveal to server
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Let GM know if waiting on players to see/acknowledge their roles
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Add useScript so player doesn't see error if joining a game that doesn't yet have a script selected
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/store/GameContext.ts
Due: eslint --fix

Oops rewrote the backend
  client/package.json
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PoisonNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/PlayerLanding/AddPlayer.tsx
  client/src/PlayerLanding/PlayerWaiting/index.tsx
  client/src/shared/trpcClient.ts
  client/src/store/actions/gmActions.ts
  client/src/store/actions/gmPlayerActions.ts
  client/src/store/actions/playerActions.ts
  client/src/store/urlBuilder.ts
  client/src/store/useStore.tsx
  client/vite.config.ts
  pnpm-lock.yaml
  server/package.json
  server/src/database/gameDB.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/index.ts
  server/src/routes/baseApiShapes.ts
  server/src/routes/game.ts
  server/src/routes/index.ts
  server/src/routes/script.ts
  server/src/routes/socket.ts
  server/src/testGames.ts
  server/src/trpc.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, prettier --write

fix dead votes
  client/src/PlayerLanding/PlayerInGame.tsx
  server/src/index.ts
Due: eslint --fix

Draft up remote and delayed storage solutions
  pnpm-lock.yaml
  server/package.json
  server/src/database/delayedStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix, prettier --write

Correct awaits, wrong promise return in remoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Remote storage abstraction
  server/src/database/delayedStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Switch to property assignment in RemoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Use a more familiar name abstraction for RemoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Show character name instead of Id on PlayerRole page (#116)
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Show expected team distribution on player scripts display (#117)
  client/src/GamemasterInGame/Lobby.tsx
  client/src/GamemasterInGame/TeamDistributionBar.css
  client/src/GamemasterInGame/TeamDistributionBar.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/assets/game_data/gameData.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
