Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

node 18 upgrade (#290)
  client/package.json
  package.json
  server/package.json
Due: prettier --write

node 18 release (#291)
  client/package.json
  package.json
  server/package.json
Due: prettier --write

Added new characters
  client/src/assets/icon/role/al_hadikhia.png
  client/src/assets/icon/role/alsaahir.png
  client/src/assets/icon/role/banshee.png
  client/src/assets/icon/role/boffin.png
  client/src/assets/icon/role/gnome.png
  client/src/assets/icon/role/harpy.png
  client/src/assets/icon/role/hatter.png
  client/src/assets/icon/role/high_priestess.png
  client/src/assets/icon/role/kazali.png
  client/src/assets/icon/role/knight.png
  client/src/assets/icon/role/lord_typhon.png
  client/src/assets/icon/role/ogre.png
  client/src/assets/icon/role/ojo.png
  client/src/assets/icon/role/organ_grinder.png
  client/src/assets/icon/role/plague_doctor.png
  client/src/assets/icon/role/shugenja.png
  client/src/assets/icon/role/steward.png
  client/src/assets/icon/role/village_idiot.png
  client/src/assets/icon/role/vizier.png
  client/src/assets/icon/role/wizard.png
  client/src/assets/icon/role/xaan.png
  client/src/assets/icon/role/yaggababble.png
  shared/src/gameData/characterData.ts
Due: eslint --fix

Added Zealot
  client/src/assets/icon/role/zealot.png
  shared/src/gameData/characterData.ts
Due: eslint --fix

Set night order of cannibal
  shared/src/gameData/characterData.ts
Due: eslint --fix

Added new scripts
  shared/src/gameData/scripts.ts
Due: eslint --fix

Removed incorrect icon from two new scripts
  shared/src/gameData/scripts.ts
Due: eslint --fix

Renamed village idiot reminder
  shared/src/gameData/characterData.ts
Due: eslint --fix

fix village idiot reminders
  shared/src/gameData/characterData.ts
Due: eslint --fix

upload artifact v4
  .github/workflows/playwright.yml
Due: none

update packages
  pnpm-lock.yaml
Due: none

update playwright
  e2es/package.json
  pnpm-lock.yaml
Due: prettier --write

update playwright test
  e2es/package.json
  pnpm-lock.yaml
Due: prettier --write

Marino -- adds experimental characters 2025 (#293)
  .github/workflows/playwright.yml
  client/src/assets/icon/role/al_hadikhia.png
  client/src/assets/icon/role/alsaahir.png
  client/src/assets/icon/role/banshee.png
  client/src/assets/icon/role/boffin.png
  client/src/assets/icon/role/gnome.png
  client/src/assets/icon/role/harpy.png
  client/src/assets/icon/role/hatter.png
  client/src/assets/icon/role/high_priestess.png
  client/src/assets/icon/role/kazali.png
  client/src/assets/icon/role/knight.png
  client/src/assets/icon/role/lord_typhon.png
  client/src/assets/icon/role/ogre.png
  client/src/assets/icon/role/ojo.png
  client/src/assets/icon/role/organ_grinder.png
  client/src/assets/icon/role/plague_doctor.png
  client/src/assets/icon/role/shugenja.png
  client/src/assets/icon/role/steward.png
  client/src/assets/icon/role/village_idiot.png
  client/src/assets/icon/role/vizier.png
  client/src/assets/icon/role/wizard.png
  client/src/assets/icon/role/xaan.png
  client/src/assets/icon/role/yaggababble.png
  client/src/assets/icon/role/zealot.png
  e2es/package.json
  pnpm-lock.yaml
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix, prettier --write

custom script links
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/gameData/scriptTransforms.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

add always visible role names
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

fix test
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
Due: none

add always visible role names (#294)
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

fix up UX
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/store/useStore.tsx
  client/vite.config.ts
  shared/src/gameData/fabled.ts
Due: eslint --fix

custom script links (#295)
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/store/useStore.tsx
  client/vite.config.ts
  shared/src/gameData/fabled.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/gameData/scriptTransforms.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

update pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --write

update pnpm version
  package.json
Due: prettier --write

release-grim 4/24/25 (#298)
  .github/workflows/playwright.yml
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/assets/icon/role/al_hadikhia.png
  client/src/assets/icon/role/alsaahir.png
  client/src/assets/icon/role/banshee.png
  client/src/assets/icon/role/boffin.png
  client/src/assets/icon/role/gnome.png
  client/src/assets/icon/role/harpy.png
  client/src/assets/icon/role/hatter.png
  client/src/assets/icon/role/high_priestess.png
  client/src/assets/icon/role/kazali.png
  client/src/assets/icon/role/knight.png
  client/src/assets/icon/role/lord_typhon.png
  client/src/assets/icon/role/ogre.png
  client/src/assets/icon/role/ojo.png
  client/src/assets/icon/role/organ_grinder.png
  client/src/assets/icon/role/plague_doctor.png
  client/src/assets/icon/role/shugenja.png
  client/src/assets/icon/role/steward.png
  client/src/assets/icon/role/village_idiot.png
  client/src/assets/icon/role/vizier.png
  client/src/assets/icon/role/wizard.png
  client/src/assets/icon/role/xaan.png
  client/src/assets/icon/role/yaggababble.png
  client/src/assets/icon/role/zealot.png
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/store/useStore.tsx
  client/vite.config.ts
  e2es/package.json
  pnpm-lock.yaml
  shared/src/gameData/characterData.ts
  shared/src/gameData/fabled.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/gameData/scriptTransforms.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix, prettier --write

move to setup only
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/GMNoGrim/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

move to setup only for production (#299)
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/GMNoGrim/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Revert "move to setup only for production (#299)"
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/GMNoGrim/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Revert "move to setup only for production" (#300)
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/GMNoGrim/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Tomw/setup only (#301)
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/GMNoGrim/index.tsx
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/MainRouter.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

empty commit
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Tomw/setup only (#302)
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

circle fix
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

circle fix (#303)
  client/src/GMNoGrim/GMNoGrimInGame.tsx
  client/src/GMNoGrim/SimpleNightOrderTab.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

try fixes
  client/src/main.css
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

Tomw/fix circle on phone (#304)
  client/src/main.css
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

try fix to zoom
  client/src/main.css
Due: none

Tomw/fix circle on phone (#305)
  client/src/main.css
Due: none

zoom scale
  client/index.html
Due: none

Tomw/fix circle on phone (#306)
  client/index.html
Due: none

fix script tool
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

oops
  shared/src/gameData/scripts.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
