Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fully hide sidebar during day
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

Hide side panel when desktop view is in day (#206)
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

seat order
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/store/useFirstSeat.ts
Due: eslint --fix

seat order (#207)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/store/useFirstSeat.ts
Due: eslint --fix

what could go wrong
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/store/useStore.tsx
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

YOLO
  client/src/NewGamePage/index.tsx
  client/src/shared/PlayerListOrder.tsx
Due: none

what could go wrong (#209)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/shared/CircularLayout.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/store/useStore.tsx
  shared/src/gameData/characterData.ts
  shared/src/gameData/scripts.ts
Due: eslint --fix

updated grimoire view
  client/src/NewGamePage/NewGameButton.tsx
  client/src/shared/RoleToken.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

updated grimoire view (#208)
  client/src/NewGamePage/NewGameButton.tsx
  client/src/shared/RoleToken.tsx
  server/src/database/gameDB/player.ts
Due: eslint --fix

Add role select to desktop sidebar
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

Polishing up desktop/mobile view swap and flows
  client/package.json
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/MainRouter.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/store/useDesktopOrMobile.tsx
  client/src/store/useStore.tsx
  pnpm-lock.yaml
Due: prettier --write

Add storyteller desktop/mobile view url param override
  client/src/GamemasterInGame/GamemasterLanding.tsx
Due: none

Cleaning up desktop/mobile view control (#210)
  client/package.json
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/MainRouter.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/store/useDesktopOrMobile.tsx
  client/src/store/useStore.tsx
  pnpm-lock.yaml
Due: prettier --write

Show team distribution counts on desktop
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/TeamDistributionBar.tsx
Due: none

Show team distribution counts on desktop (#211)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/TeamDistributionBar.tsx
Due: none

Mark players with dead votes remaining in desktop
  client/src/shared/RoleToken.tsx
Due: none

Mark players with dead votes remaining in desktop (#213)
  client/src/shared/RoleToken.tsx
Due: none

Track player execution votes
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/SetCount.tsx
  client/src/store/actions/gmPlayerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

woo
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

woo (#215)
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

Team distribution bar
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/TeamDistributionBar.tsx
Due: none

Team distribution bar (#216)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/Lobby.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/TeamDistributionBar.tsx
Due: none

fuck all the things
  client/src/GMRoute/ActionView/index.tsx
  client/src/GMRoute/GMProtectedRoute.tsx
  client/src/GMRoute/GrimoireView/index.tsx
  client/src/GMRoute/index.tsx
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/ShareButton.css
  client/src/GamemasterInGame/ShareButton.tsx
  client/src/MainRouter.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/index.tsx
  client/src/PlayerRoute/index.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/LoadingExperience.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/useQueryParam.ts
  client/src/store/GameContextProvider.tsx
  client/src/store/url.ts
  client/src/store/useFirstSeat.ts
  client/src/store/useStore.tsx
  server/src/database/gameDB/base.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix

fix tests
  client/src/GMRoute/index.tsx
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/useQueryParam.ts
  client/src/store/GameContextProvider.tsx
  client/src/store/url.ts
  client/src/store/usePlayer.ts
  client/src/store/useStore.tsx
  e2es/package.json
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  pnpm-lock.yaml
  shared/tsconfig.json
  shared/tsconfig.node.json
Due: eslint --fix, prettier --write

fuck all the things (#217)
  client/src/GMRoute/ActionView/index.tsx
  client/src/GMRoute/GMProtectedRoute.tsx
  client/src/GMRoute/GrimoireView/index.tsx
  client/src/GMRoute/index.tsx
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/ShareButton.css
  client/src/GamemasterInGame/ShareButton.tsx
  client/src/MainRouter.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/PlayerRoute/index.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/LoadingExperience.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/RoleToken.tsx
  client/src/store/GameContextProvider.tsx
  client/src/store/url.ts
  client/src/store/useFirstSeat.ts
  client/src/store/usePlayer.ts
  client/src/store/useStore.tsx
  e2es/package.json
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  pnpm-lock.yaml
  server/src/database/gameDB/base.ts
  shared/src/utils/objectUtils.ts
  shared/tsconfig.json
  shared/tsconfig.node.json
Due: eslint --fix, prettier --write

spectate flow
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerWaiting/index.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/shared/GameSelect.tsx
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tests/utils.ts
Due: eslint --fix

fuck all the things
  client/src/shared/useQueryParam.ts
Due: eslint --fix

fix tests
  client/src/shared/useQueryParam.ts
Due: eslint --fix

fix test
  client/src/store/url.ts
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Tomw/spectator-page (#219)
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerLanding/PlayerWaiting/index.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/shared/GameSelect.tsx
  client/src/store/url.ts
  e2es/.eslintrc.cjs
  e2es/package.json
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  e2es/tests/spectateTests.spec.ts
  e2es/tests/utils.ts
  e2es/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove isDayView ref from RoleToken
  client/src/shared/RoleToken.tsx
Due: none

Track player execution votes (#214)
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/NightOrder.tsx
  client/src/shared/RoleToken.tsx
  client/src/shared/SetCount.tsx
  client/src/store/actions/gmPlayerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/routes/game.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

player message fixes
  client/package.json
  client/src/GMRoute/ActionView/index.tsx
  client/src/GMRoute/index.tsx
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/store/url.ts
  client/src/store/useDesktopOrMobile.tsx
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  pnpm-lock.yaml
  shared/src/gameData/scripts.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix, prettier --write

Why was that there?
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/index.tsx
  client/src/shared/RoleToken.tsx
Due: none

Show player waiting while game is still in PlayersJoining
  client/src/PlayerLanding/index.tsx
Due: none

Be explicit when votes are to tie
  client/src/GamemasterDesktop/DesktopView.tsx
Due: none

Tomw/player message fixes (#220)
  client/package.json
  client/src/GMRoute/ActionView/index.tsx
  client/src/GMRoute/index.tsx
  client/src/GamemasterDesktop/DesktopView.tsx
  client/src/GamemasterInGame/GameMasterActions.tsx
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/PlayerLanding/index.tsx
  client/src/shared/RoleToken.tsx
  client/src/store/url.ts
  client/src/store/useDesktopOrMobile.tsx
  e2es/playwright.config.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/productUrls.ts
  pnpm-lock.yaml
  shared/src/gameData/scripts.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
