Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

add unit tests for player order (#274)
  .github/workflows/playwright.yml
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/PlayerOrderAction.tsx
  client/src/design-system/components/ui/select.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/Sheet/SheetBody.tsx
  e2es/package.json
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/playerTests.spec.ts
  package.json
  pnpm-lock.yaml
  server/.eslintrc.cjs
  server/package.json
  server/src/appRouter.ts
  server/src/database/PersistentStorage/RemoteStorage.ts
  server/src/database/PersistentStorage/S3BaseClient.ts
  server/src/database/PersistentStorage/S3Storage.ts
  server/src/database/PersistentStorage/StorageFile.ts
  server/src/database/PersistentStorage/index.ts
  server/src/database/gameDB/base.ts
  server/src/database/remoteStorage.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/gameSelectors.ts
  server/src/gameMachine/reducerHelpers/playerOrderHelpers.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/trpcServerInternals/trpc.ts
  server/test/persistentStorage.test.tsx
  server/test/playerOrder.test.tsx
  server/test/testSetup.ts
  server/test/utils.ts
  server/tsconfig.build.json
  server/vitest.config.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix, prettier --write

team distribution bar tests (#275)
  client/package.json
  client/src/shared/TeamDistributionBar.tsx
  client/test/PlayerCount.spec.tsx
  client/test/testUtils.tsx
  shared/src/gameData/gameData.ts
Due: eslint --fix, prettier --write

optimize view for 15 players
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
Due: none

make better at 15
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
Due: none

make better at 15 (#277)
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
Due: none

totally fine I swear
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/PlayerRoute/PlayerSetup/PlayerRoleSelect.tsx
Due: none

simplify
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireCircleTab/GrimoireCircleTab.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireCircleTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/index.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/design-system/components/ui/accordion.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Grimoire/PlayersInCircle/ScalingText.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  client/tailwind.config.ts
  pnpm-lock.yaml
  server/src/gameMachine/gameActions.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/PlayerMessages.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

bluffs
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
Due: none

simplify (#279)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireCircleTab/GrimoireCircleTab.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireCircleTab/index.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/PlayerMessagesTab.tsx
  client/src/GMRoute/GMInGame/Tabs/PlayerMessagesTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/ExecutionMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/index.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/SpectatorRoute/index.tsx
  client/src/design-system/components/ui/accordion.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Grimoire/PlayersInCircle/ScalingText.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  client/tailwind.config.ts
  pnpm-lock.yaml
  server/src/gameMachine/gameActions.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/PlayerMessages.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

feedback run
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/MinionsMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/NewGamePage/index.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
Due: eslint --fix

fix lint
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
Due: none

fix palywright
  client/src/design-system/components/ui/CloseButton.tsx
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
Due: eslint --fix

buttons on buttons on buttons
  client/src/GMRoute/GMShared/ExportButton.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
Due: none

feedback run from stefan feedback (#280)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/ExportButton.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/MinionsMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/NewGamePage/index.tsx
  client/src/design-system/components/ui/CloseButton.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Grimoire/PlayersInCircle/CircularLayout.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/playerTests.spec.ts
  e2es/tests/spectateTests.spec.ts
Due: eslint --fix

random role set
  .vscode/settings.json
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/Lobby.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/SheetTypes/GrimoireSheet.tsx
  client/src/shared/TeamDistributionBar.tsx
  client/src/store/actions/gmActions.ts
  client/test/PlayerCount.spec.tsx
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/helpers/selectors.ts
  e2es/tests/helpers/utils.ts
  server/package.json
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/test/gameSetup.test.ts
  server/test/utils.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/utils/index.ts
  shared/src/utils/scriptUtils.ts
Due: eslint --fix, prettier --write

light fixups
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  server/src/testingUtils/gameCreator.ts
Due: eslint --fix

stupid timout
  e2es/tests/gmTests.spec.ts
Due: eslint --fix

async selectors
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/selectors.ts
Due: eslint --fix

Tomw/game creation (#281)
  .vscode/settings.json
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/Lobby.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/shared/Grimoire/GrimoireView.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/SheetTypes/GrimoireSheet.tsx
  client/src/shared/TeamDistributionBar.tsx
  client/src/store/actions/gmActions.ts
  client/test/PlayerCount.spec.tsx
  e2es/tests/gmTests.spec.ts
  e2es/tests/helpers/clickthroughHelpers.ts
  e2es/tests/helpers/quickHelpers.ts
  e2es/tests/helpers/selectors.ts
  e2es/tests/helpers/utils.ts
  server/package.json
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  server/src/routes/game.ts
  server/src/testingUtils/gameCreator.ts
  server/test/gameSetup.test.ts
  server/test/utils.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/utils/index.ts
  shared/src/utils/scriptUtils.ts
Due: eslint --fix, prettier --write

dialogs migration
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMSetup/SetupPlayerList.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerRoute/PlayerJoining/AddPlayer.tsx
  client/src/shared/DialogHeader.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/MeaningfulIcon.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  client/src/store/useStore.tsx
Due: eslint --fix

dialog migration
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMSetup/SetupPlayerList.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerRoute/PlayerJoining/AddPlayer.tsx
  client/src/shared/DialogHeader.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/MeaningfulIcon.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  client/src/store/useStore.tsx
Due: eslint --fix

fabled
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GMRoute/index.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/PlayerRoute/PlayerJoining/AddPlayer.tsx
  client/src/design-system/components/ui/TimeSince.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/SetCount.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/fabled.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

Tomw/bugs clocktowercon (#282)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMSetup/CharacterSelectList.tsx
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMSetup/SetupPlayerList.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/GMRoute/index.tsx
  client/src/NewGamePage/index.tsx
  client/src/PlayerRoute/PlayerInGame/PlayerInGame.tsx
  client/src/PlayerRoute/PlayerJoining/AddPlayer.tsx
  client/src/design-system/components/ui/TimeSince.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/DialogHeader.tsx
  client/src/shared/GameHeader.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/MeaningfulIcon.tsx
  client/src/shared/PlayerListOrder.tsx
  client/src/shared/QRCodeModal.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/shared/SetCount.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  client/src/store/useStore.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/fabled.ts
  shared/src/gameData/gameData.ts
  shared/src/gameData/index.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

fall of rome no images
  shared/src/gameData/characterData.ts
  shared/src/gameData/fallOfRome.ts
  shared/src/gameData/scripts.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

characters
  client/src/shared/RoleIcon.tsx
  shared/src/gameData/fallOfRome.ts
  shared/src/gameData/modifyJson.cjs
  shared/src/gameData/scripts.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

reminders
  client/test/characterData.spec.ts
  shared/src/gameData/fallOfRome.ts
Due: eslint --fix

fall of rome no images (#283)
  client/src/shared/RoleIcon.tsx
  client/test/characterData.spec.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/fallOfRome.ts
  shared/src/gameData/modifyJson.cjs
  shared/src/gameData/scripts.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

traveler bugs
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  server/src/routes/game.ts
Due: eslint --fix

remove
  server/src/routes/game.ts
Due: eslint --fix

traveler bugs (#285)
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  server/src/routes/game.ts
Due: eslint --fix

player menu
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMenuItem.tsx
Due: none

Tomw/player menu bugs (#286)
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMenuItem.tsx
Due: none

Release bugfixes and fall of Rome (#287)
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMenuItem.tsx
  client/src/shared/RoleIcon.tsx
  client/test/characterData.spec.ts
  server/src/routes/game.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/fallOfRome.ts
  shared/src/gameData/modifyJson.cjs
  shared/src/gameData/scripts.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

fix script upload
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/test/scriptValidator.spec.ts
Due: eslint --fix

fix script upload (#288)
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/test/scriptValidator.spec.ts
Due: eslint --fix

release (#289)
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/test/scriptValidator.spec.ts
Due: eslint --fix

node 18 upgrade
  client/package.json
  package.json
  server/package.json
Due: prettier --write
