Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create more storage abstractions, wire save to WatchableResource
  server/src/database/gameDB.ts
  server/src/database/remoteStorage.ts
  server/src/database/watchableResource.ts
Due: eslint --fix

Store script remote, nullable getFile
  server/src/database/remoteStorage.ts
  server/src/database/scriptDB.ts
Due: eslint --fix

Error handling when file not found on R2/S3
  server/src/database/remoteStorage.ts
Due: eslint --fix

Wire in asyncs
  server/src/index.ts
  server/src/routes/game.ts
  server/src/routes/index.ts
  server/src/testGames.ts
Due: eslint --fix

Make gameDB functions async for remote storage
  server/src/database/gameDB.ts
  server/src/database/remoteStorage.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/routes/game.ts
  server/src/testGames.ts
Due: eslint --fix

Correct async socket handling
  server/src/routes/script.ts
  server/src/routes/socket.ts
Due: eslint --fix

Server should not thow exceptions, should log them to console
  server/src/routes/game.ts
  server/src/routes/script.ts
Due: eslint --fix

Removing unnecessary IStoreFile interface
  server/src/database/remoteStorage.ts
Due: eslint --fix

Log save file errors to console
  server/src/database/gameDB.ts
  server/src/database/scriptDB.ts
Due: eslint --fix

Don't save test scripts to remote storage
  server/src/database/gameDB.ts
  server/src/database/scriptDB.ts
  server/src/testGames.ts
Due: eslint --fix

Remote storage abstraction
  server/src/database/delayedStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Draft up remote and delayed storage solutions
  pnpm-lock.yaml
  server/package.json
  server/src/database/delayedStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix, prettier --write

Switch to property assignment in RemoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Correct awaits, wrong promise return in remoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Use a more familiar name abstraction for RemoteStorage.ts
  server/src/database/remoteStorage.ts
Due: eslint --fix

Create more storage abstractions, wire save to WatchableResource
  server/src/database/remoteStorage.ts
  server/src/database/watchableResource.ts
Due: eslint --fix

Make gameDB functions async for remote storage
  server/src/database/remoteStorage.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/testGames.ts
Due: eslint --fix

Correct async socket handling
  server/src/routes/socket.ts
Due: eslint --fix

Log save file errors to console
  server/src/database/scriptDB.ts
Due: eslint --fix

Don't save test scripts to remote storage
  server/src/database/scriptDB.ts
  server/src/testGames.ts
Due: eslint --fix

Rebase anemeth/remote-storage-async to tomw/player-order-night server reworks
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/routes/game.ts
  server/src/routes/script.ts
Due: eslint --fix

Dig a little deeper into src directory when running pnpm script 'lint'
  server/package.json
Due: prettier --write

Config keys, don't throw exceptions in remoteStorage
  server/src/database/remoteStorage.ts
Due: eslint --fix

contribution doc
  CONTRIBUTING.md
Due: prettier --write

contribution doc (#131)
  CONTRIBUTING.md
Due: prettier --write

[Demo] Server refactors and remote storage (#129)
  pnpm-lock.yaml
  server/package.json
  server/src/database/delayedStorage.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/database/remoteStorage.ts
  server/src/database/scriptDB.ts
  server/src/database/watchableResource.ts
  server/src/index.ts
  server/src/routes/game.ts
  server/src/routes/index.ts
  server/src/routes/script.ts
  server/src/routes/socket.ts
  server/src/testGames.ts
Due: eslint --fix, prettier --write

Draft up player draw role
  client/src/PlayerLanding/PlayerRole.css
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/gameDB/seating.ts
  server/src/routes/game.ts
  server/src/testGames.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Cleaning up
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/index.tsx
Due: none

Make select role atomic?
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/store/GameContext.ts
  client/src/store/actions/playerActions.ts
  server/src/database/gameDB/base.ts
  server/src/routes/game.ts
Due: eslint --fix

Splitting role select from role reveal
  client/src/PlayerLanding/PlayerRole.css
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
Due: none

Split role select server actions out of game
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/GameContext.ts
  client/src/store/GameContextProvider.tsx
  server/src/database/gameDB/base.ts
  server/src/database/gameDB/player.ts
  server/src/database/roleSelectDB.ts
  server/src/index.ts
  server/src/routes/game.ts
  server/src/routes/roleSelect.ts
  server/src/routes/socket.ts
  server/src/testGames.ts
  server/src/types/RoleSelect.ts
  server/src/types/UnifiedGame.ts
  server/src/types/messageShapes.ts
  server/src/types/types.ts
Due: eslint --fix

Move roleSelect into UnifiedGameContext
  client/src/PlayerLanding/PlayerRoleSelect.tsx
  client/src/PlayerLanding/index.tsx
  client/src/store/GameContext.ts
  server/src/database/roleSelectDB.ts
  server/src/routes/socket.ts
Due: eslint --fix

PlayerRoleSelect exit animation
  client/src/PlayerLanding/index.tsx
Due: none

get working locally with trpc subscriptions
  client/package.json
  client/src/shared/trpcClient.ts
  client/src/store/GameContextProvider.tsx
  client/vite.config.ts
  pnpm-lock.yaml
  server/package-lock.json
  server/package.json
  server/src/appRouter.ts
  server/src/createServer.ts
  server/src/database/gameDB/base.ts
  server/src/index.ts
  server/src/routes/index.ts
  server/src/routes/socket.ts
  server/src/trpc.ts
Due: eslint --fix, prettier --write

https
  client/src/shared/trpcClient.ts
  client/vite.config.ts
  server/.eslintrc.cjs
  server/src/appRouter.ts
  server/src/index.ts
  server/src/routes/game.ts
  server/src/routes/script.ts
  server/src/trpcServerInternals/createServer.ts
  server/src/trpcServerInternals/trpc.ts
  server/tsconfig.json
Due: eslint --fix, prettier --write

add cors
  client/vite.config.ts
  pnpm-lock.yaml
  server/package.json
  server/src/trpcServerInternals/createServer.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
