Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx,js,jsx}": ["eslint --fix"],
  "*.{md,json}": "prettier --write"
}

Hotfix show filtered players on load
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

Hotfix show filtered players on load (#75)
  client/src/GamemasterInGame/PlayerList.tsx
Due: none

All Messages working
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/CharacterSelectedYouMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/DemonMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/MadnessMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/PlayerMessageLink.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealPlayerMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealRoleMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevivedMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/TeamChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/assets/game_data/characterData.ts
  client/src/shared/CharacterTypes.ts
  client/src/shared/RoleIcon.tsx
  client/src/utils/shuffleList.ts
  server/src/testGames.ts
  server/src/types/PlayerMessageScreen.ts
Due: eslint --fix

Add usePlayerFilters
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListFilters.tsx
  client/src/store/useStore.tsx
Due: none

Set 'all' default filter
  client/src/store/useStore.tsx
Due: none

break up filters
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListFilters.tsx
  client/src/store/useStore.tsx
Due: none

poison actions
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PoisonNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/assets/game_data/characterData.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

add id to drunk
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
Due: none

role-change
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/store/useStore.tsx
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

travelers
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/TravelerSelect.tsx
  client/src/GamemasterInGame/TeamDistributionBar.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/shared/CharacterTypes.ts
  server/src/database/gameDB.ts
  server/src/testGames.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

Add usePlayerFilters (#79)
  client/src/GamemasterInGame/PlayerList.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/shared/PlayerListFilters.tsx
Due: none

travellers-hacky
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/TeamSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/TravelerSelect.tsx
  server/src/database/gameDB.ts
  server/src/testGames.ts
Due: eslint --fix

Filters hotfix
  client/src/shared/PlayerListFilters.tsx
Due: none

move to alignments and character types
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/AlignmentChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RevealTeamMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/TeamChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/index.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
  client/src/assets/game_data/rolesCombined.json
  client/src/shared/CharacterTypes.ts
  client/src/store/useStore.tsx
  client/src/types/colors.ts
  client/src/types/script.ts
  server/src/types/PlayerMessageScreen.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix, prettier --write

alignment API
  client/src/assets/game_data/characterData.ts
  server/src/database/gameDB.ts
  server/src/routes/game.ts
  server/src/testGames.ts
Due: eslint --fix

alignment
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/RoleChangeMessage.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/useDynamicList.tsx
  client/src/PlayerMessagePage/index.tsx
  client/src/assets/game_data/characterData.ts
  client/src/shared/CharacterTypes.ts
  server/src/database/gameDB.ts
Due: eslint --fix

Purple GM accent, autofocus new player name input, shrink note modal text area
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/GamemasterInGame/ScriptSelect.tsx
  client/src/MainRouter.tsx
  client/src/PlayerLanding/AddPlayer.tsx
Due: none

role-icon consolidation
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerName.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/shared/CharacterTypes.ts
  client/src/shared/MeaningfulIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/types/colors.ts
  client/src/types/radixTypes.ts
Due: eslint --fix

alignment change
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/store/useStore.tsx
Due: none

Add image source citation
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/icon/role/README.md
Due: prettier --write

update colors
  client/src/GamemasterInGame/GamemasterLanding.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerNoteInput.tsx
  client/src/shared/CharacterTypes.ts
  client/src/shared/RoleIcon.tsx
Due: eslint --fix

unassigned role
  client/src/assets/game_data/characterData.ts
  client/src/assets/game_data/gameData.ts
Due: eslint --fix

update player screen
  client/src/GamemasterInGame/CharacterSelectList.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerRole.tsx
  client/src/PlayerLanding/PlayerInGame.tsx
Due: none

Add traveler image sources
  client/src/assets/game_data/characterData.ts
Due: eslint --fix

icons
  client/src/shared/RoleIcon.tsx
Due: none

add back poison action
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PoisonNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
Due: none

rebase
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PoisonNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
Due: none

player landing fix
  client/src/PlayerLanding/PlayerRole.tsx
Due: none

Tomw/reveal player message (#90)
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/PoisonNightAction.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightAction/index.tsx
  client/src/GamemasterInGame/PlayerListComponents/NightReminder.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerMessage/index.tsx
  client/src/PlayerLanding/PlayerRole.tsx
  client/src/assets/game_data/characterData.ts
  server/src/types/Role.ts
  server/src/types/UnifiedGame.ts
Due: eslint --fix

player actions proposal
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
Due: none

Pretty up player action menu
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/AlignmentSelect.tsx
  client/src/GamemasterInGame/PlayerListComponents/Selectors/RoleSelect.tsx
Due: none

Make player menu cleaner and more consistent
  client/src/GamemasterInGame/NotesIcons.tsx
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
  client/src/shared/MeaningfulIcon.tsx
  client/src/shared/RoleIcon.tsx
  client/src/types/radixTypes.ts
Due: eslint --fix

Re-add modal close on most player menu actions
  client/src/GamemasterInGame/PlayerListComponents/PlayerActions.tsx
Due: none

Remove errant ' ' typo
  client/src/GamemasterInGame/PlayerList.tsx
Due: none
