Repository Hidden-Identity-Games/blood-on-the-clocktower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix rebase
  .gitignore
  e2es/tsconfig.tsbuildinfo
  server/src/gameMachine/gameReducer.ts
Due: eslint --fix

Rework night actions view (#247)
  .gitignore
  .vscode/settings.json
  client/.eslintrc.cjs
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightReminder.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/AlignmentChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/MadnessMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealCharacterMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealTeamMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevivedMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RoleChangeMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/DemonMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/SpecialActionMessageCreators/MinionsMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/SpecialActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/shared/Sheet/SheetTypes/PlayerSheet.tsx
  client/src/store/actions/gmActions.ts
  e2es/.eslintrc.cjs
  e2es/tsconfig.tsbuildinfo
  server/.eslintrc.cjs
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/routes/game.ts
  shared/.eslintrc.cjs
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
  shared/src/shapes/UnifiedGame.ts
  shared/src/utils/characterUtils.ts
  shared/src/utils/objectUtils.ts
Due: eslint --fix, prettier --write

make night action applying statuses easier
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/test/characterData.spec.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/gameData.ts
  shared/src/shapes/PlayerReminder.ts
  shared/tsconfig.json
Due: eslint --fix, prettier --write

make night action applying statuses easier (#253)
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/test/characterData.spec.ts
  shared/src/gameData/characterData.ts
  shared/src/gameData/gameData.ts
  shared/src/shapes/PlayerReminder.ts
  shared/tsconfig.json
Due: eslint --fix, prettier --write

just rewrite redux for some reason?
  .vscode/settings.json
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  shared/src/utils/characterUtils.ts
Due: eslint --fix, prettier --write

add basic ass undo button
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/UndoButton.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/store/actions/gmActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/routes/game.ts
Due: eslint --fix

void promise
  client/src/GMRoute/GMInGame/Tabs/MenuTab/UndoButton.tsx
Due: none

upgrade dependencies
  client/package.json
  client/vite.config.ts
  e2es/package.json
  package.json
  pnpm-lock.yaml
  server/package-lock.json
  server/package.json
  server/src/gameMachine/gameActions.ts
  shared/package.json
Due: eslint --fix, prettier --write

fix empty game creation
  server/src/gameMachine/gameMachine.ts
Due: eslint --fix

upgrade dependencies (#255)
  client/package.json
  client/vite.config.ts
  e2es/package.json
  package.json
  pnpm-lock.yaml
  server/package-lock.json
  server/package.json
  server/src/gameMachine/gameActions.ts
  shared/package.json
Due: eslint --fix, prettier --write

shadcn conversion of newgamepage
  .vscode/settings.json
  client/components.json
  client/package.json
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/design-system/README.md
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/design-system/components/ui/checkbox.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/design-system/components/ui/label.tsx
  client/src/design-system/components/ui/switch.tsx
  client/src/design-system/lib/utils.ts
  client/src/main.css
  client/src/shared/GameSelect.tsx
  client/tailwind.config.js
  client/tailwind.config.ts
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Convert home page to shadcn (#256)
  .vscode/settings.json
  client/components.json
  client/package.json
  client/src/NewGamePage/NewGameButton.tsx
  client/src/NewGamePage/index.tsx
  client/src/design-system/README.md
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/design-system/components/ui/checkbox.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/design-system/components/ui/input.tsx
  client/src/design-system/components/ui/label.tsx
  client/src/design-system/components/ui/switch.tsx
  client/src/design-system/lib/utils.ts
  client/src/main.css
  client/src/shared/GameSelect.tsx
  client/tailwind.config.js
  client/tailwind.config.ts
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

just rewrite redux for some reason? (#254)
  .vscode/settings.json
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/UndoButton.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/index.tsx
  client/src/GMRoute/GMInGame/index.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/store/actions/gmActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/combineReducers.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/routes/game.ts
  shared/src/utils/characterUtils.ts
Due: eslint --fix, prettier --write

Continued work to polish reminders out on view
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/shared/AddPlayerReminder.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/store/useStore.tsx
  client/tsconfig.json
Due: prettier --write

Overflow reminders are now usable
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMenuItem.tsx
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  shared/src/shapes/PlayerReminder.ts
Due: eslint --fix

fix up the overview, and make actions functional and ugly
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/index.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/MenuTab.tsx
  client/src/GMRoute/GMInGame/Tabs/MenuTab/UndoButton.tsx
  client/src/GMRoute/GMShared/GameMasterActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/CharacterSelectedYouMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/ReminderCreator/index.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerName.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/DestructiveButton.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
Due: none

update actions flow
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/MessageCreators/RevealRoleMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/Restrictions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/design-system/components/button.tsx
  client/src/design-system/components/ui/CloseButton.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Sheet/SheetBody.tsx
Due: none

some flow
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

fix dialogs and marking complete
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix

Add day reminders items to gm list
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

workable
  client/package.json
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerRole.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/design-system/components/ui/accordion.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/SpecialActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove Flex from DayReminder, make Mad reminders dayRemider: true
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

fix random negative margin
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
Due: none

random fixes
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerName.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
Due: none

Add day reminders items to gm display (#261)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/DayReminders.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  shared/src/gameData/characterData.ts
Due: eslint --fix

more random fixes
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/routes/game.ts
Due: eslint --fix

fix eslint
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
Due: none

Color code reminders on GMTile
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
Due: none

Add text shadow to reminder text
  client/src/shared/Reminders/ReminderIcon.tsx
  client/tailwind.config.ts
Due: eslint --fix

Color code reminders on GMTile (#259)
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/tailwind.config.ts
Due: eslint --fix

more night action flow (#260)
  client/package.json
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/NightActions.tsx
  client/src/GMRoute/GMInGame/Tabs/GrimoireTab/GrimoireTab.tsx
  client/src/GMRoute/GMSetup/ScriptSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerActions.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerMessage/messageShared/SubmitMessage.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerName.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/PlayerRole.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerRoleAlignmentSelector.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/PlayerSelect.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/Selectors/RoleSelect.tsx
  client/src/NewGamePage/NewGameButton.tsx
  client/src/design-system/components/ui/accordion.tsx
  client/src/design-system/components/ui/card.tsx
  client/src/design-system/components/ui/dialog.tsx
  client/src/shared/Sheet/ControlledSheet.tsx
  client/src/shared/Sheet/SheetBody.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/PlayerActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/SpecialActionSheet.tsx
  client/src/shared/Sheet/SheetTypes/ActionSheet/index.tsx
  client/src/shared/Sheet/SheetTypes/MessageSheet.tsx
  client/src/store/url.ts
  pnpm-lock.yaml
  server/src/gameMachine/gameActions.ts
  server/src/gameMachine/gameMachine.ts
  server/src/gameMachine/gameReducer.ts
  server/src/gameMachine/reduxEnhacers/reduxImplementation.ts
  server/src/routes/game.ts
  shared/src/gameData/characterData.ts
  shared/src/shapes/UnifiedGame.ts
Due: eslint --fix, prettier --write

demon kill help
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

add dies keyword to more roles
  shared/src/gameData/characterData.ts
Due: eslint --fix

more night action flow (#260)
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/store/useStore.tsx
Due: none

Tomw/demon-kill-help (#263)
  client/src/GMRoute/GMInGame/Tabs/ActionsTab/NightActions/ActionQueueRow.tsx
  client/src/GMRoute/GMShared/PlayerListComponents/NightAction/KillAction.tsx
  shared/src/gameData/characterData.ts
  shared/src/shapes/Role.ts
Due: eslint --fix

Allow showing all reminders (#262)
  client/src/shared/Grimoire/PlayersInCircle/GMTile.tsx
  client/src/shared/Reminders/AddReminder.tsx
  client/src/shared/Reminders/ReminderIcon.tsx
  client/src/store/useStore.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{ts, tsx,js,jsx}
  prettier --write: any of: *.{md,json}
